In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Oranjemund,NaN,2022-07-24 19:18:22,-28.5500,16.4333,63.73,41,0,5.99
1,1,Bredasdorp,ZA,2022-07-24 19:13:52,-34.5322,20.0403,49.24,86,0,7.34
2,2,Rikitea,PF,2022-07-24 19:17:43,-23.1203,-134.9692,75.00,80,24,15.14
3,3,Sitka,US,2022-07-24 19:18:23,57.0531,-135.3300,57.09,88,100,8.05
4,4,Montecristi,EC,2022-07-24 19:18:24,-1.0500,-80.6667,76.82,69,75,8.05

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) 
            for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 76

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Rikitea,PF,2022-07-24 19:17:43,-23.1203,-134.9692,75.00,80,24,15.14
5,5,Ribeira Grande,PT,2022-07-24 19:17:46,38.5167,-28.7000,75.60,88,75,9.22
27,27,Hasaki,JP,2022-07-24 19:18:33,35.7333,140.8333,75.60,86,50,13.27
99,99,Bengkulu,ID,2022-07-24 19:20:55,-3.8004,102.2655,75.72,91,100,6.69
101,101,Yenagoa,NG,2022-07-24 19:20:56,4.9247,6.2642,75.69,78,39,6.08
116,116,Fereydun Kenar,IR,2022-07-24 19:21:01,36.6864,52.5225,75.42,83,75,0.00
118,118,Imbituba,BR,2022-07-24 19:21:02,-28.2400,-48.6703,75.85,88,100,1.99
137,137,Meulaboh,ID,2022-07-24 19:21:08,4.1363,96.1285,75.72,93,100,4.72
192,192,Hobyo,SO,2022-07-24 19:23:25,5.3505,48.5268,75.99,83,25,25.50
202,202,Port-Gentil,GA,2022-07-24 19:23:30,-0.7193,8.7815,75.16,83,75,8.05

In [12]:
preferred_cities_df.count()

City_ID       30
City          30
Country       30
Date          30
Lat           30
Lng           30
Max Temp      30
Humidity      30
Cloudiness    30
Wind Speed    30
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
2           Rikitea      PF     75.00 -23.1203 -134.9692
5    Ribeira Grande      PT     75.60  38.5167  -28.7000
27           Hasaki      JP     75.60  35.7333  140.8333
99         Bengkulu      ID     75.72  -3.8004  102.2655
101         Yenagoa      NG     75.69   4.9247    6.2642
116  Fereydun Kenar      IR     75.42  36.6864   52.5225
118        Imbituba      BR     75.85 -28.2400  -48.6703
137        Meulaboh      ID     75.72   4.1363   96.1285
192           Hobyo      SO     75.99   5.3505   48.5268
202     Port-Gentil      GA     75.16  -0.7193    8.7815

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""


# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))